.popup {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  visibility: hidden;
  display: flex;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}
